{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" , initial-scale="1">
    <title>{% block title %}{% endblock title %} Chat</title>
    <link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet'>
    <!--<script src="https://cdn.tailwindcss.com"></script>-->
    <style>
        .messages {
            height: 400px;
            overflow-y: auto;
        }
    </style>
    <script src="{% static 'chat/index.js' %}"></script>
    <link rel="stylesheet" href="{% static 'chat/style.css' %}">
</head>

<body>
    <div class="back-button"><a href="/"><img src="{% static 'chat/images/back.png' %}" alt="Back"></a></div>
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>

    {% block scripts %}
    {% endblock %}

</body>

</html>