{% extends 'chat/base.html' %}
{% load static %}

{% block title %} Welcome | {% endblock title %} Welcome |

{% block content %}
<div class="buttons-container">
    <div class="buttons-container__logo"><img src="{% static 'chat/images/logo.png' %}" alt="Logo">
    </div>
    {% if request.user.is_authenticated %}
    <a href="/rooms/" class="buttons-container__button"><span>Rooms</span></a>
    <a href="/logout/" class="buttons-container__button"><span></span>Log out<span></span></a>
    {% else %}
    <a href="/login/" class="buttons-container__button"><span></span>Log in<span></span></a>
    <a href="/signup/" class="buttons-container__button"><span></span>Sign up<span></span></a>
    {% endif %}
</div>
{% endblock content %}