{% extends 'chat/base.html' %}

{% block title %}Вход | {% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-container__header">Вход</div>
    <form method="post" action="." class="login-container__form">
        {% csrf_token %}

        <div class="login-container__item">
            <label>Никнейм</label>
            <input type="text" name="username">
        </div>

        <div class="login-container__item">
            <label class="text-white">Пароль</label>
            <input type="password" name="password">
        </div>

        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="login-container__error">
            <p>{{ error|escape }}</p>
        </div>
        {% endfor %}
        {% endfor %}
        {% endif %}

        <button class="login-container__button">Войти</button>
    </form>
</div>
{% endblock %}