{% extends 'chat/base.html' %}
{% load static %}
{% block title %}{{ room.name }} | {% endblock %}
{% block content %}
<div class="chat-container">
    <div class="chat-container__header">{{ room.name }}</div>
    <div class="chat-container__messages" id="chat-messages">
        {% for m in messages %}
        <div class="chat-container__message">
            <div class="chat-container__message-avatar">
                <img src="{% static 'chat/images/avatar.png' %}" alt="Аватар">
            </div>
            <div class="chat-container__message-content">
                <b>{{ m.user.username }}</b><br>
                <div>{{ m.content }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
    <form method="post" action="." class="chat-container__answer">
        <input type="text" name="content" placeholder="Напишите сообщение..." id="chat-message-input">

        <button id="chat-message-submit">Отправить</button>
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
<script>
    function decryptMessage(encryptedMessage) {
        const decryptedBytes = CryptoJS.AES.decrypt(encryptedMessage, 'your-secret-key');
        return decryptedBytes.toString(CryptoJS.enc.Utf8);
    }

    setInterval(function () {
        const messageContents = document.querySelectorAll('.chat-container__message-content');

        messageContents.forEach(function (element) {
            const encryptedMessage = element.querySelector('div').innerText;
            if (!encryptedMessage.startsWith('CR')) {
                return;
            }
            const decryptedMessage = CryptoJS.AES.decrypt(encryptedMessage.slice(2), 'your-secret-key').toString(CryptoJS.enc.Utf8);
            element.querySelector('div').innerText = decryptedMessage;
        });
    }, 1);
</script>

{% endblock %}

{% block scripts %}
{{ room.slug|json_script:"json-roomname" }}
{{ request.user.username|json_script:"json-username" }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
<script>
    function getHash(input) {
        let hash = 0;
        for (let i = 0; i < input.length; i++) {
            const char = input.charCodeAt(i);
            hash = ((hash << 5) - hash) + char;
            hash |= 0;
        }
        return hash;
    }

    function colorNickname(element) {
        let nickname = element.querySelector('b').innerHTML;
        let hash = getHash(nickname);
        let angle = hash % 360;
        element.querySelector('img').style.filter = 'hue-rotate(' + angle + 'deg)';
    }

    const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
    const userName = JSON.parse(document.getElementById('json-username').textContent);
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/'
        + roomName
        + '/'
    );

    chatSocket.onclose = function (e) {
        console.log('onclose')
    }

    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);

        if (data.message) {
            document.querySelector('#chat-messages').innerHTML += (
                "<div class=\"chat-container__message\"><div class=\"chat-container__message-avatar\"><img src=\"/static/chat/images/avatar.png\" alt=\"Avatar\"></div><div class=\"chat-container__message-content\"><b>" + data.username + "</b><br><div>" + data.message + "</div></div></div>");
            colorNickname(document.querySelector('#chat-messages').lastElementChild);
        } else {
            alert('The message was empty!')
        }

        scrollToBottom();
    };

    document.querySelector('#chat-message-input').focus();

    document.querySelector('#chat-message-submit').onclick = function (e) {
        e.preventDefault();

        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;

        // Шифрование текста сообщения
        const encryptedMessage = 'CR' + CryptoJS.AES.encrypt(message, 'your-secret-key').toString();

        console.log({
            'message': encryptedMessage,
            'username': userName,
            'room': roomName
        });

        chatSocket.send(JSON.stringify({
            'message': encryptedMessage,
            'username': userName,
            'room': roomName
        }));

        messageInputDom.value = '';

        return false;
    };


    /**
    * A function for finding the messages element, and scroll to the bottom of it.
    */
    function scrollToBottom() {
        let objDiv = document.getElementById("chat-messages");
        objDiv.scrollTop = objDiv.scrollHeight;
    }

    // Add this below the function to trigger the scroll on load.
    scrollToBottom();

    document.querySelectorAll('.chat-container__message').forEach(colorNickname);
</script>
{% endblock %}