{% extends 'chat/base.html' %}
{% block title %}Rooms | {% endblock %}
{% block content %}
<div class="rooms-container">
    <div class="rooms-container__header">Rooms</div>
    <div class="rooms-container__list">
        {% for room in rooms %}
        <div class="rooms-container__item">
            <div class="rooms-container__item-name">{{ room.name }}</div>
            <a href="{% url 'room' room.slug %}" class="rooms-container__item-button">Join</a>
        </div>

        {% endfor %}
    </div>
</div>
{% endblock %}